* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-image: linear-gradient(to bottom right, #e64c37, #e9e855);
   /* background-image: linear-gradient(to bottom right, #CD7F31, #FCE38E); */
   font-family: 'Poppins', sans-serif;
   font-weight: 200;
   color: white;
}

.container {
   width: 90%;
   max-width: 1000px;
   margin: 10% auto;
}

h1 {
   font-size: 1rem;
   font-weight: 200;
   margin: 0 0 75px;
}

span {
   font-weight: 400;
}

.img {
   position: relative;
}

p {
   position: absolute;
   bottom: 22px;
   left: -36px;
   z-index: 1;
   width: 50px;

   -webkit-transform: rotateZ(-90deg);
   transform: rotateZ(-90deg);

   font-size: 0.9rem;
}

.grid {
   display: grid;

   grid-template-columns: repeat(2, 1fr);
   grid-gap: 60px;
}

.image1 img,
.image2 img,
.image3 img,
.image4 img,
.image5 img,
.image6 img {
   position: relative;
   width: 100%;
   max-width: 450px;
   height: auto;
   grid-column: span 1;
   cursor: pointer;
}

.image1:hover {
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.image2:hover {
   -webkit-filter: sepia(1);
   filter: sepia(1);
}

.image3:hover {
   -webkit-filter: opacity(0.3);
   filter: opacity(0.3);
}

.image4:hover {
   -webkit-filter: saturate(10);
   filter: saturate(10);
}

.image5:hover {
   -webkit-filter: brightness(2);
   filter: brightness(2);
}

.image6:hover {
   -webkit-filter: blur(5px);
   filter: blur(5px);
}

/* BOTTOM NAVIGATION */

.navigation {
   display: flex;
   align-items: flex-end;
   justify-content: center;

   height: 120px;
   margin: 0 auto;

   font-size: 2rem;
}

a {
   text-decoration: none;

   color: rgba(255, 255, 255, 0.49);
}

.navigation a:nth-child(2) {
   padding: 0 30px;
}

.navigation a:hover {
   cursor: pointer;

   color: white;
}

.navigation a:active {
   transform: translateY(1px);
}

/* MEDIA QUERIES  */

@media screen and (max-width: 700px) {
   .container {
      width: 80%;
      margin: 5% auto;
   }
   .grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 40px;
   }
   .img {
      margin: 0 auto;
   }
   h1 {
      width: 100%;
      max-width: 450px;
      margin: 0 auto 20px;
   }
}